.header{
    display:flex; 
    justify-content: space-around;
    background-color: #b5f8b5; 
}
p{
    font-size: 20px;
}
.images{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
 
body{
    margin:0px;
    background-color: #E3E3D9
    
}